/* Resetting some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Setting default font family and color */
body {
  font-family: "Times New Roman", Times, serif;
  color: black;
  background-color: #fff;
}

/* Making all text bold */
* {
  font-weight: bold;
}

/* Styling the navigation bar */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

nav a {
  color: #232f3e;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.5s ease;
}

nav a:hover {
  background-color: #232f3e;
  color: #fff;
}
hr {
  border: 40px solid black;
  background-color: black;
}
/* Banner styles */


.banner {
  position: relative;
  height: 200px;
  overflow: hidden;
  margin-top: 60px;
}

.collage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.collage img {
  width: calc(33.33% - 10px);
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Section styles */
section {
  padding: 20px;
  margin-bottom: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

section h2 {
  font-family: Georgia, serif;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1.5;
  color: black;
}
.summary {
  width: 400px;
  margin-right: 40px;
  font-size: 18px;
  line-height: 1.5;
  text-align: relative;
}
.info-box {
  background-color: #ccc;
  color: #fff;
  padding: 20px;
  float: right;
}
.summary-container {
  background-image: url('https://images.unsplash.com/photo-1525547719571-a2d4ac8945e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1064&q=80');
  background-size: cover;
  background-position: center;
}
